<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!--  mysql SQL configuration-->

        <property name="connection.url">jdbc:mysql://therapjavafest.cslpf3aqz0il.us-east-1.rds.amazonaws.com:3306/therapJavaFest?autoReconnect=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">theraP3322</property>
        <!--<property name="connection.url">jdbc:mysql://localhost:3306/therapJavaFest?autoReconnect=true</property>
        <property name="connection.username">root</property>
        <property name="connection.password">therap</property>
        --><property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>

        <property name="c3p0.min_size">5</property>
        <property name="c3p0.max_size">20</property>
        <property name="c3p0.timeout">1800</property>
        <property name="c3p0.max_statements">60</property>
        <property name="c3p0.testConnectionOnCheckout">true</property>
        <property name="connection.provider_class">
            org.hibernate.connection.C3P0ConnectionProvider
        </property>


        <mapping class="net.therap.domain.Admin"/>
        <mapping class="net.therap.domain.AnswerInfo"/>
        <mapping class="net.therap.domain.AuditInfo"/>
        <mapping class="net.therap.domain.Contestant"/>
        <mapping class="net.therap.domain.Group"/>
        <mapping class="net.therap.domain.PostByAdmin"/>
        <mapping class="net.therap.domain.ProjectProposal"/>
        <mapping class="net.therap.domain.ProjectSubmission"/>
        <mapping class="net.therap.domain.ScreeningTest"/>
        <mapping class="net.therap.domain.ScreeningTestStateInfo"/>
        <mapping class="net.therap.domain.QuestionOrder"/>

    </session-factory>

</hibernate-configuration>